  .container1{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 20px;   
         
      margin-bottom: 20px;
      
  }

  .nav-items-list {
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    padding-left: 0px;
  }

  hr{
    border: 1px solid #bfbfbf;
      width:97%;
      background-color: #f2eafd;
      padding: 2px;
      margin:0 auto;
      
  }

  .link-item {
    list-style-type: none;
    font-size: 40px;
  }

  .route-link {
    text-decoration: none;
    margin-left: 100px;
    color: #bfbfbf;
    font-weight: bold;
  }

  .links{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid #6d32ba ;
    padding-bottom: 3px;
  }

  .disabled{
    color: #bfbfbf;

  }

  .main-heading{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }

  .heading{color: #fff;
      padding: 10px 20px;
      font-size: 40px;
      border-radius: 90px;
      background-color: #6d32ba;;
      
  }

  .profile-setting{
    /* width: 30vw; */
    /* padding-left: 100px ; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 30px;
  }